################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GigaChef/bin/Debug/net9.0
/GigaChef/obj
/GigaChef/.env
/GigaChef/App.config
/GigaChef/CommandHandler.cs
/GigaChef/LoggingService.cs
/GigaChef/packages.config
/.gitattributes
/.vs
